.tooltip {
	background: blue;
	font-size: 0.9rem;
	border-radius: 50%;
	display: inline-block;
	width: 1em;
	height: 1em;
	outline: 1px solid black;
	text-align: center;
	position: relative;
	font-family: sans-serif;
}
.tooltip::before {
	content: "?";
	color: white;
}
.tooltip:hover::after {
	content: var(--tooltip-text);
	background: white;
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
	position: absolute;
	left: -300%;
	width: 30vw;
	top: 0%;
	font-weight: normal;
	box-shadow: 0px 8px 12px 0px black;
}

/* t = ''.join([f""",
			[
				"whatever{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}{random.randint(0, 9)}",
				76955.0,
				"2023-06-09T17:18:15.217588"
			]""" for x in range(100)])
f = open("whatever.txt", "w")
f.write(t)
f.close() */